<div class="app-book">
    <span class="app-book--price">{{ book?.price | currency:'EUR'}}</span>
    <h1 class="app-book--title">{{ book?.title }}</h1>
    <span class="img-container">
        <img [src]="book?.cover" alt="{{ book?.title }}" title="{{ book?.title }}">
    </span>

    <div class="app-book--actions">
        <button (click)="open(longContent)" class="btn btn-outline-secondary" type="button">
            Lire le résumé
        </button>

        <button (click)="addToCart(book, content);" class="btn btn-warning btn--add--cart" type="button">
            Ajouter au panier
        </button>

        <!-- Modals -->
        <ng-template #content let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Mon panier</h4>
                <button (click)="d('Cross click')" aria-label="Close" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body--cart">
                    <img [src]="book?.cover" alt="{{ book?.title }}" title="{{ book?.title }}">
                    <div>
                        <h3>{{ book?.title }}</h3>
                        <p>Votre produit a été rajouté au panier ! </p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a [routerLinkActive]="'active'" [routerLink]="'/cart/'">
                    <button (click)="c('Save click')" class="btn btn-outline-dark" type="button">
                        << Voir mon panier
                    </button>
                </a>

                <button (click)="c('Save click')" class="btn btn-warning btn--add--cart" ngbAutofocus
                        type="button">
                    Continuer mes achats >>
                </button>

            </div>
        </ng-template>

        <ng-template #longContent let-modal>
            <div class="modal-header">
                <h4 class="modal-title">Résumé - {{ book?.title }} </h4>
                <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body--resume">
                <p class="app-book--synopsis">{{book?.synopsis}}</p>
                <br/>
                <span class="app-book-isbn">ISBN : {{ book?.isbn }}</span>
            </div>
            <div class="modal-footer">
                <button (click)="modal.close('Close click')" class="btn btn-light" type="button">Fermer</button>
            </div>
        </ng-template>

    </div>

</div>
