@import "~src/variables";

.header {
    height: $header-height;

    .title {
        padding-left: 56px;
    }

    fa-icon, app-cart-icon {
        margin-right: 16px;
        font-size: 1.5rem;
        cursor: pointer;
    }
}
