<header class="fixed-top">
    <app-header #header></app-header>
</header>

<main [ngClass]="{'close-aside': header.open === false}">

    <div (click)="header.open = !header.open" class="shadow position-fixed"></div>

    <app-toolbar class="fixed-top">
        <app-search (searchChange)="searchChange($event)"></app-search>
    </app-toolbar>

    <div class="page">
        <div class="contents">
            <router-outlet></router-outlet>
        </div>

        <footer>
            <app-footer></app-footer>
        </footer>
    </div>

</main>
