@import "~src/variables";

header {
    height: $header-height;
    background: $header-bg;
    padding: $header-padding;
}

app-toolbar {
    position: fixed;
    top: $header-height;
    right: 0;
    left: 0;
    z-index: 1030;

    height: $toolbar-height;
    background: $toolbar-bg;
    padding: $toolbar-padding;

    color: #405065;
}

main {
    background: $main-bg;
    padding-top: $main-pdt;

    .page {
        display: flex;
        flex-direction: column;
        margin: auto;

        max-width: 1280px;
    }
}

.close-aside aside {
    width: 0;
    overflow: hidden;
}

.close-aside .shadow {
    display: none;
}

.shadow {
    background: $shadow-bg;
    width: $shadow-width;
    min-height: $shadow-min-height;
    z-index: 1000;
}

.contents {
    flex-grow: 1;
}

@media (min-width: $md-breakpoint) {
    .shadow {
        display: none;
    }

    .close-aside .contents,
    .close-aside footer {
        margin-left: 0;
    }

}

